DATABASE_NAME=modified
DATABASE_USERNAME=modified
DATABASE_PASSWORD=modified
DATABASE_PORT=modifiedd
IMAGE_DB=modified
CONTAINER_DB=modified


APP_PORT=modified
APP_IMAGE=modified
APP_CONTAINER=modified
APP_PORT=modified
APP_DB_HOST=modified