DATABASE_NAME=kanit
DATABASE_USERNAME=kanit
DATABASE_PASSWORD=kanit
DATABASE_PORT=50001:5432
IMAGE_DB=postgres:latest
CONTAINER_DB=my_db_compose


APP_PORT=8080:1337
APP_IMAGE=prawee/strapi:latest
APP_CONTAINER=my_app_compose
APP_PORT=8080:1337
APP_DB_HOST=db